/*MedicalNotesList.css*/
.myContainer {
    border: 1px solid rgb(36, 44, 60);
    padding: 10px;
    overflow: hidden;
}

.buttonColored {
    background-color: rgb(72,209,204);
    border-radius: 10px;
    border: 1px solid rgb(36, 44, 60);
    padding: 10px;
    overflow: hidden;
    text-align: center;
}
