.empty_block {
  height: 50px;
}

html, body {
  font-family:'Maven Pro'!important;
  color: rgb(36, 44, 60);
  /* overflow-y: hidden; */
}

.verticalcenter {
  display: flex;
  justify-content: center;
  flex-direction: column;
}